<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element" class="py-1"> 
      <div class="border-l-4 px-3" [ngClass]="
        {
          'border-red-500': !(element | visited),
          'border-green-600': element | visited
        }">
        {{element.id}} 
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="region">
    <th mat-header-cell *matHeaderCellDef> Región </th>
    <td mat-cell *matCellDef="let element"> {{element.region}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">

      <ng-container *ngIf="!(element | visited)">
        <mat-icon class="cursor-pointer" (click)="handleAddCity(element)">add</mat-icon>
      </ng-container>
      <ng-container *ngIf="element | visited">
        <mat-icon class="cursor-pointer" (click)="handleRemoveCity(element)">delete</mat-icon>
      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [length]="total" [pageSize]="pageSize" [pageSizeOptions]="[5, 10]" (page)="onPaginate($event)"  aria-label="Select page of cities"></mat-paginator>